---
layout: 'layouts/base.njk'
---
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Page Generator</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Pre-generate your own static page</p>
    </div>
</header>
<!-- form -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="new" method="POST" novalidate="novalidate" id="photoUploadform">
                    <div class="control-group controls mb-0 pb-2">
                        <div>
                            <button class="btn btn-warning btn-xl" type="button" id="photo">Upload a Photo</button>
                        </div>
                    </div>
                    <hr>
                    <div class="control-group" id="publicIDdiv">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Photo Public ID</label>
                            <input type="text" class="form-control" id="publicIDvalue" required="required" readonly="true" name="photo">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" required="required">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required="required" name="email">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Role</label>
                            <input type="text" class="form-control" id="role" placeholder="Role" required="required" name="role">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Twitter</label>
                            <input type="text" class="form-control" id="twitter" placeholder="Twitter" required="required" name="twitter">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Facebook</label>
                            <input type="text" class="form-control" id="facebook" placeholder="Facebook" required="required" name="twitter">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>LinkedIn</label>
                            <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn" required="required" name="twitter">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xl mt-4" type="submit" id="createPage">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>